/*
this page is taken from W3 Schools https://www.w3schools.com/howto/howto_css_contact_form.asp
using most of their css as well 
I will mark my changes from theirs using comments*/

/* my edit */
body {
    background-image: url('../images/background2.png');
    margin: auto;
    width: 100%;
    background-size: auto;
}

/* my edit - i have changed the border radius from each section from 4px to 5px*/
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
    margin-bottom: 16px; 
    resize: vertical 
  }

  /* my edit */
  input[type=email], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  

  /* my edit -changed color of button*/
  input[type=submit] {
    background-color: #000000;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
/* my edit - changed color of button*/
  input[type=submit]:hover {
    background-color: #e20b5ecc;
  }
  
  .container {
    margin-left:10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 5px;
    background-color: rgba(231, 190, 204, 0.8);
    padding: 20px;
  }

  /* my edit from here and below */
  .links {
    padding-top: 30px;
    font-size: 16px;
    text-align: center;
    padding-bottom: 30px;
  }

  h1 {
    padding: 5px;
  }

